.container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    textarea {
        resize: none;
        border: none;
        outline: none;
        background: transparent;
        color: inherit;

        font-size: inherit;
        font-family: inherit;

        padding: 14px 1rem;
        border-radius: 0.25rem;
        // background: var(--background);
        background: white;
        border: 1px solid var(--border);
        &::placeholder {
            color: var(--foreground-secondary);
        }
    }

    cursor: pointer;
}

.error {
    color: hsla(var(--error), 1);
}
