.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .uploadButton {
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid var(--foreground);
        border-radius: 4px;
        background: white;

        gap: 8px;
        cursor: pointer;

        transition: all 100ms linear;

        &:active {
            transform: scale(0.99);
        }
    }
}

.messageContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > div {
        padding: 8px;
        border-radius: 0.25rem;
        border: 1px dashed var(--foreground);
        line-break: anywhere;
    }
}
