html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background-color: var(--background);

    // Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

main {
    padding-block: clamp(2rem, 5vw, 4rem);
    h1 {
        margin-bottom: 1rem;
    }
}
