:root {
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a1a1a1;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-neutral-950: #0a0a0a;

    --error: 345, 100%, 56%;
    --success: 160, 100%, 37%;
    --warning: 44, 100%, 47%;
    --info: 216, 100%, 58%;

    --background: var(--color-neutral-100);
    --background-secondary: var(--color-neutral-50);
    --background-tertiary: white;
    --foreground: var(--color-neutral-950);
    --foreground-secondary: var(--color-neutral-500);

    --border: var(--color-neutral-300);

    --background-disabled: var(--color-neutral-300);
    --foreground-disabled: var(--color-neutral-600);
}
